{% extends "rest_framework/base.html" %}

{% load static %}   



    {% block bootstrap_theme %}

    
    <link rel="stylesheet" href="{% static 'Myapp/css/bootstrap.css' %}" type="text/css">
       

    {% endblock %}



    {% block content %}
    <body  style="background-color: aqua;">
    
    


    <h1>Credit Card Fraud Detection</h1>
    <script src="{% static 'Myapp/js/jquery.js' %}"></script>
    <script src="{% static 'Myapp/js/popper.js' %}"></script>
    <script src="{% static 'Myapp/js/bootstrap.js' %}"></script>

<textarea  style="width:321px; height:890px;background-color: aqua; ">

{{users}}

{{models}}


</textarea>

</body>
{% endblock %}
</html>
